:host {
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-left: 15%;
    padding-right: 15%;
}

.background {
    background: url('../assets/background.jpg') no-repeat center center fixed;
    filter: blur(5px);
    width: 100%;
    height: 200%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}