<div class="headerSection">
    <h1>WanderAura</h1>
    <h3>Wander your way through the world. Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
    <button class="register">Get Started</button>
</div>
<div class="buttonPanel">
    <div class="top">
        <button class="tripsBtn">Trips</button>
        <button class="chatBtn">Chat</button>
        <button class="activitiesBtn">Activities</button>
    </div>
    <div class="bottom">
        <button class="reviews">Reviews</button>
        <button class="about">About us</button>
    </div>

</div>