:host {
    display: block;
    background: #FAFBFF;
    height: 1200px;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000060;
    overflow: hidden;
}

.arrow {
    position: absolute;
    right: 50%;
    bottom: -70px;
    transform: translateX(50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    color: white;
    background: linear-gradient(45deg, #9125D5, #FB44C2);
    cursor: pointer;
    box-shadow: 0 0 30px #000000b0;
}